<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{ .Page.Title }}</title>
    {{- partial "header.html" . -}}
    {{- partial "opengraph.html" . -}}
    {{- partial "twitter_cards.html" . -}}
    {{ block "header" . }} {{ end }}

    {{- partial "analytics.html" . -}}
    <script>
      theme = localStorage.getItem('theme-scheme') || localStorage.getItem('darkmode:color-scheme') || 'light';
      if (theme == 'system') {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
          theme = 'dark';
        } else {
          theme = 'light';
        }
      }
      document.documentElement.setAttribute('data-theme', theme);
    </script>
  </head>

  <body class="type-{{ .Page.Type }} kind-{{ .Page.Kind }}" data-bs-spy="scroll" data-bs-target="#TableOfContents" data-bs-offset="80">
    <div class="container-fluid bg-secondary wrapper">
      {{ block "navbar" . }} {{ end }}
      {{ block "sidebar" . }} {{ end }}
      {{ block "content" . }} {{ end }}
      {{ block "toc" . }} {{ end }}
    </div>

    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}

    {{ partial "scripts.html" . }}
    {{ block "scripts" . }} {{ end }}

    {{- partial "misc/support.html" . -}}
  </body>
</html>
